/**
#sidebarCard {
}

.btn-info{
    background-color: rgb(7, 1, 80) !important;
    border-color: rgb(7, 1, 80) !important;
}

.btn-primary{
    background-color: rgba(236, 163, 5, 0.911) !important;
    border-color: rgba(236, 163, 5, 0.911) !important;
}

.btn-danger{
    background-color: rgb(170, 6, 6) !important;
    border-color: rgb(170, 6, 6) !important;
}
**/